<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Servlet" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="techstacks.spring-servlet.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="dev.nonava.techstacks.spring.servlet.Application" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <option name="SHORTEN_COMMAND_LINE" value="NONE" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>