<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring Boot" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="techstacks.spring.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="dev.nonava.techstacks.spring.Application" />
    <option name="ALTERNATIVE_JRE_PATH" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>